<div class="overlay not-active">
    <div class="popup">
        <div class="popup-header">
            <h2>{{ 'report_api.test_popup_title' | trans }} {{ routine_name }}</h2>
        </div>
        <div class="popup-text">
            <p></p>
        </div>
        <div class="save-cancel-buttons popup-footer">
            <button class="btn-submit">{{ 'report_api.test_popup_button' | trans }}</button>
        </div>
    </div>
</div>
