# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/vendor
/var
composer.phar
/.idea/
/composer-setup.php

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
.env
.caddy