<div class="popup-calculate-total-content EUR-currency">
    <table class="calculation-cash-bills-table">
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-500-number">500.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-500.png" alt="-500">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-500-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-500-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-200-number">200.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-200.png" alt="-200">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-200-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-200-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-100-number">100.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-100.png" alt="-100">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-100-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-100-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-50-number">50.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-50.png" alt="-50">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-50-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-50-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-20-number">20.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-20.png" alt="-20">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-20-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-20-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-10-number">10.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-10.png" alt="-10">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-10-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-10-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="calculation-cash-label">
                <label for="EUR-5-number">5.– *</label>
            </td>
            <td class="calculation-cash-img">
                <img src="/img/img-note-EUR-5.png" alt="-5">
            </td>
            <td class="calculation-cash-number">
                <input type="number" id="EUR-5-number" class="fas-input report-input">
            </td>
            <td class="calculation-cash-result">
                <div class="currency-input-wrapper">
                    <input type="text" id="EUR-5-result" class="fas-input report-input result-input currency-input" disabled="true">
                    <span class="currency">EUR</span>
                </div>
            </td>
        </tr>
    </table>
    <div class="calculation-cash-coins">
        <div class="calculation-cash-label">
            <label for="coins">{{ 'report.coins'|trans }} *</label>
        </div>
        <div class="calculation-cash-img">
            <img src="/img/coins.png" alt="cash coins">
        </div>
        <div class="calculation-cash-result">
            <div class="currency-input-wrapper">
                <input type="text" id="coins" class="fas-input report-input result-input currency-input">
                <span class="currency">EUR</span>
            </div>
        </div>
    </div>
    <div class="calculation-cash-coins-container">
        <table class="calculation-cash-coins-table">
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-2-number">2.– *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-2.png" alt="-2">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-2-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-2-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-1-number">1.– *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-1.png" alt="-1">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-1-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-1-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-0-50-number">–.0.50 *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-05.png" alt="-05">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-0-50-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-0-50-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-0-20-number">–.0.20 *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-02.png" alt="-02">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-0-20-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-0-20-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-0-10-number">–.0.10 *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-01.png" alt="-01">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-0-10-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-0-10-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-0-05-number">–.0.05 *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-005.png" alt="-005">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-0-05-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-0-05-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-0-02-number">–.0.02 *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-002.png" alt="-002">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-0-02-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-0-02-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="calculation-cash-label">
                    <label for="EUR-0-01-number">–.0.01 *</label>
                </td>
                <td class="calculation-cash-img">
                    <img src="/img/img-coin-EUR-001.png" alt="-001">
                </td>
                <td class="calculation-cash-number">
                    <input type="number" id="EUR-0-01-number" class="fas-input report-input">
                </td>
                <td class="calculation-cash-result">
                    <div class="currency-input-wrapper">
                        <input type="text" id="EUR-0-01-result" class="fas-input report-input result-input currency-input" disabled="true">
                        <span class="currency">EUR</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="enter-coins-amount-link">
        <i class="fas fa-angle-down"></i>
        <span>{{ 'report.enter.amount.coins'|trans }}</span>
    </div>
</div>