{% set link = app.request.getSchemeAndHttpHost() ~ path('password_set', { 'token': account.passwordResetToken}) %}

<p>Hallo {{ account.person.firstName }} {{ account.person.lastName }},</p>
<p>Anbei finden Sie den angeforderten Link, um Ihr vergessenes Passwort zurückzusetzten:</p>
<p>{{ link }}</p>
<p>Wenn Sie diese Aktion nicht selbst ausgelöst haben, können Sie dieses Email ignorieren.</p>
<p>Mit freundlichen Grüssen</p>
<p>Ihr FAS-Team</p>
